form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 6px;
    background-color: #21252b;
    position: relative;
}

form:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(90deg, #61afef, #c678dd, #e5c07b, #c678dd, #61afef);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #3b4048;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #282c34;
    color: #abb2bf;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #61afef;
    outline: none;
    box-shadow: 0 0 0 2px rgba(97, 175, 239, 0.2);
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #61afef;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    display: block;
}

label:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #3b4048;
    margin-top: 3px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

#event-dates-container {
    max-height: 200px;
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

input[type="date"] {
    background-color: #282c34;
    color: #abb2bf;
    padding: 0.8rem;
    border: 1px solid #3b4048;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="date"]:focus {
    border-color: #61afef;
    outline: none;
    box-shadow: 0 0 0 2px rgba(97, 175, 239, 0.2);
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    
}

#button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
}

.error-message {
    color: #e06c75;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    padding-left: 20px;
    position: relative;
}

.error-message:before {
    content: "⚠";
    position: absolute;
    left: 0;
    color: #e06c75;
}