@import "./cards.css";



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    font-family: Arial, sans-serif;
    
    background-color: #f0f0f0;
  }